@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.calendar-container {
  display: flex;
  gap: 0.7em;
  user-select: none;
  font-size: 0.85em;

  .week-container {
    text-align: center;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        font-family: "Inter", sans-serif;
        margin-top: 0.5em;
        border-radius: 50px;
        font-size: 0.9em;
        background-color: #90CCFF;
        padding: 0.5em;
        cursor: pointer;
      }
      .wrong-month-day {
        background-color: #90CCFF60;
      }
      .current-day {
        background-color: #081225;
        color: #F5F5F5;
        font-weight: bold;
      }
    }
  }
}
  